@mixin transform($property) {
    -webkit-transform: $property;
    -moz-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

@mixin multiTransform($property1, $property2) {
    -webkit-transform: $property1, $property2;
    -moz-transform: $property1, $property2;
    -ms-transform: $property1, $property2;
    transform: $property1, $property2;
}

@mixin transition($property) {
    -webkit-transition: $property;
    -moz-transition: $property;
    -ms-transition: $property;
    transition: $property;
}
